.main_activites {
  gap: 2rem;

  b {
    display: none;

    text-indent: -9999px;
  }
}

/* Bouton pour afficher/cacher les activités passées */
.toggle-passed-button {
  background-color: transparent;
  border: none;
  color: $black;
  padding: 0.5em 1em;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.toggle-passed-button:hover {
  text-decoration: underline;
}
.toggle-passed-button.active {
  color: $blue;
}

/* Bouton "Filtres" placé dans timeline-main-title */
.timeline-main-title {
  position: relative;
}
.ctrl-btn-filters {
  left: 0;
  top: 0;
  .filter-button {
    background-color: transparent;
    border: none;
    color: Gray;
    font-size: 1em;
    cursor: pointer;
    padding: 0.5em;
    transition: color 0.3s;
  }
  .filter-button:hover {
    color: #000;
    text-decoration: underline;
  }

  /* Dropdown pour le filtre de type d'activité */
  .filter-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: $white;
    border: 1px solid $beige-fonce;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10000;

    .filter-item {
      display: flex;
      align-self: start;
      width: 100%;
      padding: 0.5em 1em;
      font-size: medium;
      font-weight: 400;
      cursor: pointer;
      white-space: nowrap;
      transition: background-color 0.3s;
    }

    .close-dropdown {
      float: right;
      align-self: flex-end;
      background-color: transparent;
      border: none;
      color: $black;
      font-size: 24px;
      border-radius: 10px;
      padding: 5px;
    }

    .reset-button {
      align-self: center;
      background-color: $yellow;
      border: none;
      color: $black;
      font-size: 16px;
      border-radius: 10px;
      padding: 5px;
      -webkit-box-shadow: 4px 4px 1px 1px #4a4a4a;
      box-shadow: 4px 4px 1px 1px #4a4a4a;
    }
  }

  /* Chaque élément du dropdown */
  .filter-item {
    padding: 0.5em 1em;
    font-size: medium;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
  }
  .filter-item:hover {
    background-color: #f2f2f2;
  }
}
.hidden {
  display: none !important;
}

/* Classes pour cacher les éléments au départ */
.hiddenAtStart {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-ctrl-adresse {
  display: flex;
}

.story-ctrl-adresse {
  display: flex;
}

.fa-location-dot {
  display: flex;
  justify-self: center;
  align-self: center;
  padding-left: 10px;
  color: orange;
}

.ctl-story {
  display: flex;
  padding-bottom: 2%;
}

.ctl-story-left {
  display: flex;
  justify-content: flex-end;
}

.ctl-story-right {
  display: flex;
  justify-content: flex-start;
}

.my-icon-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/*Custom stories*/
.my-story-rebuilt {
  display: flex;
  position: relative;

  .story-modal {
    z-index: 500 !important;
  }
  .story-date-mobile {
    display: hidden !important;
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    background-color: $black;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 10;
    transform-origin: bottom;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .story-date {
    display: none;
    margin-top: -5px;

    .ctl-labels-left {
      display: flex;
      flex-direction: row;
      left: calc(100% + var(--ctw-ibx-size) * 2) !important;
      align-items: center;

      .triangle-left {
        display: flex;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid $black;
      }
    }

    .ctl-labels-right {
      display: flex;
      flex-direction: row;
      right: calc(100% + var(--ctw-ibx-size) * 2) !important;
      justify-content: center !important;
      align-items: center;

      .triangle-right {
        display: flex;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid $black;
      }
    }

    .ctl-labels {
      top: calc(
        var(--ctw-ibx-position) * 1% - var(--ctw-ibx-size) *
          var(--ctw-ibx-position) / 100 -(var(--ctw-lbl-big-size) / 2 -
              var(--ctw-ibx-size) / 1.7)
      ) !important;
      gap: 0;

      .ctl-label-big {
        background-color: $black;
        width: fit-content !important;
        padding: 10px;
        color: $white !important;
        font-size: 38px;
        font-weight: 400;
        border-radius: 10px;
      }
      .ctl-label-big-left {
        transform-origin: left !important;
      }
    }
  }

  .my-story-content {
    width: 100%;
    background-color: $white;
    flex-direction: column;
    width: 75vw;
    align-items: flex-start;
    -webkit-box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  .my-story-img {
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;

    img {
      
    }

    .story-image {
      object-fit: contain;
      display: block;
      width: 100%;
      height: auto;
      min-width: 0px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .img-overlay p {
      color: $white;
      margin-bottom: 1rem;
    }

    .btn-aller-voir {
      background: $white;
      color: $black;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
    }

    .overlay-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: none;
      border: none;
      font-size: 1.2rem;
      color: $white;
      cursor: pointer;
    }
  }

  .my-story-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;

    .my-story-title {
      display: flex;
      padding: 10px;
      padding-left: 25px;
      font-size: 20px;
      font-weight: 400;
    }
    p {
      color: $pink;
      font-size: x-large;
      font-weight: bolder;
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
    }
  }
  .my-location-name {
    display: flex;
    padding: 5px;
    padding-left: 25px;
    padding-bottom: 0;
    font-weight: 400;
  }

  .my-location-address {
    display: flex;
    padding: 5px;
    padding-left: 25px;
    font-weight: 400;
  }

  .my-story-description {
    max-height: 5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 10px 25px;
    font-size: 14px;
    text-align: start;

    p {
      display: flex;
      margin: 0 !important;
      font-weight: 300;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3rem;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      pointer-events: none;
    }

    &::after {
      content: "...";
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      font-size: 1.2rem;
      color: #555;
      pointer-events: none;
    }
  }

  .my-story-content:not(.my-story-content-passed) .my-story-completed {
    display: none;
  }

  .my-story-content-passed .my-story-description::before {
    background: linear-gradient(
      0deg,
      rgba(170, 168, 156, 1) 0%,
      rgba(170, 168, 156, 0) 100%
    );
  }
}

.my-story-content-passed {
  display: flex;
  position: relative;
  background-color: $gray !important;
  flex-direction: column;
  width: 75vw;
  align-items: flex-start;
  -webkit-box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  .my-story-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center !important;
    padding: 25px;
    flex-direction: column-reverse;

    .footer-social {
      display: flex;
      width: 40%;
      flex-direction: row !important;
      padding-top: 25px;
      width: 100%;
      justify-content: end;

      .btn-social {
        display: flex;
        padding-left: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        .fa-facebook {
          display: flex;
          color: $fb-blue;
          font-size: 30px;
        }

        .fa-instagram {
          display: flex;
          background: $insta-purple !important;
          background-clip: text !important;
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
          font-size: 30px;
        }
      }
    }
  }
}

.my-story-footer {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 25px;
  flex-direction: column-reverse;

  .footer-social {
    display: flex;
    width: 40%;
    flex-direction: row !important;
    padding-top: 25px;
    width: 100%;
    justify-content: end;

    .btn-social {
      display: flex;
      padding-left: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      .fa-facebook {
        display: flex;
        color: $fb-blue;
        font-size: 30px;
      }

      .fa-instagram {
        display: flex;
        background: $insta-purple !important;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        font-size: 30px;
      }
    }
  }

  .footer-btn-savoir {
    display: flex;
    background-color: $yellow;
    color: $black;
    flex-wrap: nowrap !important;
    border-radius: 10px;
    text-align: center;
    padding: 10px 40px 10px 40px;
    -webkit-box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.2);

    .readmore-link {
      color: $black;
      text-overflow: initial;
      text-wrap: nowrap !important;
    }
  }
}

/*Modal d'activités*/

.my-modal-overlay {
  display: none;
  max-width: 1280px;
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 500 !important;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.my-modal-overlay.open {
  display: flex;
}
.modal-content {
  background: $white;
  padding: 2rem;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.2);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  pointer-events: auto;

  .modal-image {
    display: flex !important;
    width: 100% !important;
    min-width: unset !important;
    align-self: center !important;
    padding-bottom: 15px;
  }

  .modal-infos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: start;

    .modal-infos-content > * {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: start;

      .ctrl-header-date {
        display: flex;
        flex-direction: column;
        align-items: start;
      }
    }
    .modal-footer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      width: 100%;

      .modal-footer-social {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        width: 100%;

        .modal-btn-social {
          background: none;
          border: none;

          .fa-facebook {
            display: flex;
            color: $fb-blue;
            font-size: 30px;
            justify-self: flex-end !important;
          }

          .fa-instagram {
            display: flex;
            justify-self: flex-end !important;
            background: $insta-purple !important;
            background-clip: text !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            font-size: 30px;
            padding-left: 20px;
          }
        }
      }

      .footer-btn-participer {
        display: flex;
        background-color: $yellow;
        color: $black;
        flex-wrap: nowrap !important;
        border-radius: 10px;
        text-align: center;
        padding: 10px 40px 10px 40px;
        -webkit-box-shadow: 4px 4px 1px 1px #4a4a4a;
        box-shadow: 4px 4px 1px 1px #4a4a4a;

        .registrer-link {
          color: $black;
          text-overflow: initial;
          text-wrap: nowrap !important;
        }
      }
    }
  }
}

.registration-form-overlay {
  flex-direction: column !important;
  align-items: flex-start !important;
  padding-top: 15px;
  p { 
    font-size: 20px;
    font-weight: 300;
  }
  #cancelParticipation {
    margin-top: 15px;
    background-color: $red;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    -webkit-box-shadow: 4px 4px 1px 1px #4a4a4a;
    box-shadow: 4px 4px 1px 1px #4a4a4a;
    transition: background-color 0.3s;
  }
  #switchNo {
    margin-top: 20px;
    background-color: $red;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    -webkit-box-shadow: 4px 4px 1px 1px #4a4a4a;
    box-shadow: 4px 4px 1px 1px #4a4a4a;
    transition: background-color 0.3s;
  }
  #switchYes {
    background-color: $green;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    -webkit-box-shadow: 4px 4px 1px 1px #4a4a4a;
    box-shadow: 4px 4px 1px 1px #4a4a4a;
    transition: background-color 0.3s;
  }
  .registration-form {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 10px !important;
    width: 100% !important;
    padding: 10px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    flex-wrap: nowrap !important;
    .form-header {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      background-color: $pink;
      padding: 15px !important;
      font-size: 28px;
      font-weight: 500 !important;
      text-align: center;
    }
    .form-inputs-labels {
      padding-left: 20px;
      label {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid $beige-fonce;
        border-radius: 5px;
      }

      select {
        width: 100%;
        padding: 10px;
        border: 1px solid $beige-fonce;
        border-radius: 5px;
      }
    }
    .form-checkbox {
      display: flex;
      flex-direction: row;
      align-self: center;
      align-items: center;
      gap: 10px;
      padding-top: 10px;
      label {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        p {
          padding-right: 10px;
        }
        input {
          padding-left: 10px;
        }
      }
    }

    .ctrl-form-buttons {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding-bottom: 15px;
      button {
        background-color: $yellow;
        color: $black;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
        cursor: pointer;
        -webkit-box-shadow: 4px 4px 1px 1px #4a4a4a;
        box-shadow: 4px 4px 1px 1px #4a4a4a;
        transition: background-color 0.3s;
        &:hover {
          background-color: $beige-fonce;
        }
      }
      .close-registration {
        color: $white;
        background-color: $red !important;
      }
    }
  }
}

.modal-close {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 510;
}
.my-over-title {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
}

.atcb-placeholder {
  background: #000 !important;
}

// Styles custom pour le Add To Calendar Button
.ctrl-atcb {
  position: relative;

  .dynamic-atcb-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    padding-left: 0;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: $gray;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      color: $blue;
    }
  }

  .calendar-dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0;
    z-index: 1000;
    width: max-content;
    display: none;

    &.open {
      display: block;
    }

    .calendar-options {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          display: block;
          padding: 0.5rem 1rem;
          color: #333;
          text-decoration: none;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
}

.year-navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: $black 3px solid;
}

.year-button {
  background: transparent;
  border: none;
  color: gray;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  padding-bottom: 15px;
}

.year-button.selected {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}

//Media queries pour tout le css

@media (max-width: 639px) {
}
@media (min-width: 640px) {
}
@media (max-width: $m-screen) {
}
@media (min-width: 1024px) {
  .main_activites {
    max-width: 1280px;
  }
  .timeline-main-title {
    position: relative;
  }
  .ctrl-btn-filters {
    position: absolute;
    left: 0;
    top: 0;
    .filter-button {
      background-color: transparent;
      border: none;
      color: Gray;
      font-size: 1em;
      cursor: pointer;
      padding: 0.5em;
      margin-left: 1em;
      transition: color 0.3s;
    }
    .filter-button:hover {
      color: #000;
      text-decoration: underline;
    }

    /* Dropdown pour le filtre de type d'activité */
    .filter-dropdown {
      position: absolute;
      left: 30px;
      transform: translateX(0);
      background-color: $light-blue;
      border: 1px solid $beige-fonce;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      z-index: 1000;

      .reset-button {
        margin-top: 10px;
      }
    }

    /* Chaque élément du dropdown */
    .filter-item {
      padding: 0.5em 1em;
      font-size: medium;
      cursor: pointer;
      white-space: nowrap;
      transition: background-color 0.3s;
    }
    .filter-item:hover {
      background-color: #f2f2f2;
    }
  }

  .my-story-rebuilt {
    .my-story-content {
      width: auto;
    }

    .story-date {
      display: flex !important;
    }
    .story-date-mobile {
      display: none !important;
    }
  }
  .story-modal {
    width: 90vw;
    
    .modal-content {
      width: 100% !important;
      max-width: 1280px;
      .modal-body {
        flex-direction: column;
        width: 100% !important;
        .ctrl-modal-content {
          display: flex;
          flex-direction: row;
          padding-bottom: 20px !important;
          img {
            width: 50% !important;
          }
          .modal-infos {
            padding-left: 20px;
            padding-right: 20px;
            width: 50% !important;
            .modal-header {
              flex-direction: row !important;
              align-items: center;
              h2 {
                width: 100% !important;
              }
              .ctrl-header-date {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: row-reverse;
                .modal-date {
                  .dynamic-atcb-button {
                    padding: 0 !important;
                  }
                }
              }
            }
            .modal-footer {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding-top: 20px;
              width: 100%;

              .modal-footer-social {
                justify-content: flex-start !important;
              }
            }
          }
        }
        .registration-form-overlay {
          width: 100% !important;
          padding-top: 0px;
          .registration-form {
            width: 100% !important;
            padding: 0px;
            gap: 0px;
            .ctrl-form-buttons {
              justify-content: center !important;
              button {
                margin: 0px 10px 0px 10px;
                font-size: 24px;
                padding: 5px;
                font-weight:300 !important; 
              }
            }
          }
          .modal-header {
            flex-direction: row !important;
            align-items: center;
            width: 100%;
            h2 {
              display: flex;
              font-size: 24px;
              font-weight: 400;
              text-wrap: nowrap;
            }
            .ctrl-header-date {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              justify-content: space-evenly;
              width: 100%;

              .modal-date {
                font-size: 20px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1280px) {
  .my-story-footer {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;

    .footer-social {
      display: flex;
      justify-content: flex-start !important;
      padding-top: 0px !important;
    }
  }
}

// custom media queries pour bloquer le plugin

@media only screen and (max-width: 1024px) {
  .ctl-wrapper .ctl-vertical-wrapper .ctl-inner-line,
  .ctl-wrapper .ctl-vertical-wrapper .ctl-timeline:before {
    left: calc(5% - var(--ctw-line-width) / 1) !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper:not(.ctl-one-sided) .ctl-start,
  .ctl-wrapper .ctl-vertical-wrapper:not(.ctl-one-sided) .ctl-end {
    left: calc(5% - var(--ctw-line-width) + 6px) !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-start,
  .ctl-wrapper .ctl-vertical-wrapper .ctl-end {
    left: calc(
      5% - var(--ctw-line-width) / 2 - var(--ctw-line-width) * 1.6
    ) !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper.ctl-one-sided {
    padding-left: 0px !important;
  }
  .ctl-vertical-wrapper .ctl-pagination a,
  .ctl-vertical-wrapper .ctl-pagination span {
    margin: 2px 0px !important;
  }
  .ctl-wrapper
    .ctl-vertical-wrapper:not(.ctl-compact-wrapper)
    .ctl-label-small {
    margin-bottom: -15px !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-icondot,
  .ctl-wrapper .ctl-vertical-wrapper .ctl-story.ctl-story-left .ctl-icondot {
    left: calc(var(--ctw-ibx-size) / 2 - var(--ctw-ibx-size) * 1.85) !important;
  }
  .ctl-wrapper
    .ctl-vertical-wrapper:where(.ctl-timeline:before, .ctl-inner-line) {
    left: calc(
      0px - var(--ctw-line-width) / 2 + var(--ctw-ibx-size) / 2
    ) !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-year {
    justify-content: flex-start !important;
    left: calc(5% - var(--ctw-line-width) / 1) !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-year .ctl-year-text:after {
    left: calc(
      0px + var(--ctw-ibx-size) / 2 - var(--ctw-line-width) / 2 +
        var(--ctw-line-bd-width) / 2
    ) !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-story {
    width: calc(100% - var(--ctw-ibx-size) * 1.5) !important;
    float: unset !important;
    text-align: left !important;
    margin-bottom: calc(var(--ctw-cbx-bottom-margin)) !important;
    top: 0;
    left: calc(5% - var(--ctw-line-width) / 1 + 45px) !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper.ctl-one-sided .ctl-icondot {
    left: calc(var(--ctw-ibx-size) / 2 - var(--ctw-ibx-size) * 1.85) !important;
  }

  .ctl-wrapper .ctl-vertical-wrapper .ctl-icon {
    top: calc(
      var(--ctw-ibx-position) * 1% - var(--ctw-ibx-size) *
        var(--ctw-ibx-position) / 100 +
        (
          var(--ctw-lbl-big-size) + var(--ctw-lbl-small-size) +
            var(--ctw-lbl-gap) - 20px
        ) -
        (
          (
              var(--ctw-lbl-big-size) + var(--ctw-lbl-small-size) +
                var(--ctw-lbl-gap) + 12px
            ) * var(--ctw-ibx-position) / 100
        ) - 5px + var(--lbl-bd-width) * 2
    ) !important;
    transform: translateY(-50%) !important;
    left: calc(var(--ctw-ibx-size) / 2 - var(--ctw-ibx-size) * 2.05) !important;
  }

  .ctl-wrapper .ctl-vertical-wrapper .ctl-labels ~ .ctl-icon {
    top: calc(
      var(--ctw-ibx-position) * 1% - var(--ctw-ibx-size) *
        var(--ctw-ibx-position) / 100 +
        (
          var(--ctw-lbl-big-size) + var(--ctw-lbl-small-size) +
            var(--ctw-lbl-gap) + -8px
        ) -
        (
          (
              var(--ctw-lbl-big-size) + var(--ctw-lbl-small-size) +
                var(--ctw-lbl-gap)
            ) * var(--ctw-ibx-position) / 100
        ) + 16px + var(--lbl-bd-width) * 2 + var(--ctw-cbx-date-line-height)
    );
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-labels ~ .ctl-icondot {
    top: calc(
      var(--ctw-ibx-size) * var(--ctw-ibx-position) + var(--ctw-ibx-size) / 2 +
        (
          var(--ctw-lbl-big-size) + var(--ctw-lbl-small-size) +
            var(--ctw-lbl-gap) + -7px
        ) -
        (
          (
              var(--ctw-lbl-big-size) + var(--ctw-lbl-small-size) +
                var(--ctw-lbl-gap)
            ) * var(--ctw-ibx-position) / 10
        ) + var(--lbl-bd-width) * 2 + var(--ctw-cbx-date-line-height) - 15px
    );
  }

  .ctl-wrapper .ctl-vertical-wrapper .ctl-story.ctl-story-left {
    float: unset;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-story.ctl-story-left .ctl-labels {
    right: 0;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-story.ctl-story-left .ctl-icon {
    left: calc(var(--ctw-ibx-size) / 2.5 - var(--ctw-ibx-size) * 2);
    right: auto;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-story .ctl-title {
    text-align: left;
    justify-content: left !important;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-story.ctl-story-left .ctl-media {
    justify-content: var(--ctw-cbx-img-align, var(--ctw-cbx-text-align));
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-story.ctl-story-left .ctl-button {
    justify-content: var(--ctw-cbx-btn-align, var(--ctw-cbx-text-align));
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-year .ctl-year-text {
    position: relative;
    overflow: visible;
    left: calc(
      var(--ctw-ibx-size) - var(--ctw-line-width) / 10 +
        var(--ctw-line-bd-width) * 1px
    );
    right: auto;
  }
  .ctl-wrapper .ctl-vertical-wrapper .ctl-year .ctl-year-text:before {
    height: var(--ctw-line-width);
    left: auto;
    right: calc(95% + var(--ctw-ybx-bd-width)) !important;
    width: calc(
      var(--ctw-ibx-size) - var(--ctw-line-width) / 10 +
        var(--ctw-line-bd-width) * 1px
    );
    background-color: var(--ctw-line-bg);
    opacity: 1;
    z-index: -1;
  }
  .ctl-wrapper
    .cool-timeline-wrapper.ctl-vertical-wrapper.ctl-one-sided
    .ctl-story {
    left: -4px;
    width: calc(94% - var(--ctw-ibx-size)) !important;
  }

  .ctl-wrapper .ctl-vertical-wrapper.ctl-one-sided .ctl-icon {
    left: calc(var(--ctw-ibx-size) / 2.2 - var(--ctw-ibx-size) * 2) !important;
  }

  .ctl-wrapper .cool-timeline-wrapper .ctl-vertical-wrapper .ctl-year {
    left: calc(5% - 22px) !important;
  }
}
