@import "variables";
@import "mixins";

.main_dons {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  img {
    width: 100%;
    height: auto;
  }
  .banner.dons{
    button{
      @include btn-red;
    }
  }
  .campagne {
    align-self: center;
    max-width: 1280px;

    h2 {
      padding-bottom: 4rem;
    }

    ul {
      display: grid;
      gap: 4rem;

      @include media-query("tablet") {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-query("desktop") {
        grid-template-columns: repeat(3, 1fr);
      }

      li {
        background-color: $beige-oskar;
        border-radius: 0.625rem;
        border: 1px solid $black;
        max-width: 26.875rem;
        min-height: 32.375rem;
        max-height: 32.375rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 6px 6px 0px 0px $blue-navy;

      }

      div:first-of-type {
        display: flex;
        flex-direction: column;
      }
    }

    img {
      max-width: 25.625rem;
    }
  }

  .module-investir{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 1280px;
    align-items: center;
    align-self: center;
    h2 {
      font-size: 2rem;
    }
    p {
      font-weight: 300;
      line-height: 1.5;
      max-width: 960px;
      text-align: center;
    }
    .btn-investir {
      @include btn-red;
    }
  }
}

