.faq {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: 1.5;
  max-width: 1280px;
  min-height: 400px;
  padding: 4rem 0;
  width: 100%;

  h2 {
    align-self: center;
    font-size: 1.8rem;
    width: fit-content;
  }

  .questions-container {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    width: 960px;

    li {
      border-bottom: 1px solid $black;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      .question {
        cursor: pointer;

        &:hover {
          h3 {
            transform: scale(1.2) translate(2rem, 0);
          }

          i {
            transform: scale(1.3);
          }
        }
      }

      .question {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        width: 100%;

        h3 {
          font-size: 1.4rem;
          transition: 0.3s;
        }

        i {
          font-size: 1.3rem;
          transition: 0.3s;
        }
      }

      p {
        font-size: 1.2rem;
        font-weight: 300;
        padding-bottom: 2rem;

        &.hidden {
          display: none;
        }
      }
    }

    .aucune-question {
      align-self: center;
      border: none;
      font-size: 1.4rem;
    }
  }
}
