.faq {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: 1.5;
  max-width: 1280px;
  min-height: 400px;
  padding: 10rem 0 1rem 0;
  width: 100%;

  h2 {
    align-self: center;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    width: fit-content;
  }

  .questions-container {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    li {
      align-self: center;
      border-bottom: 1px solid $black;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      width: 100%;

      .question {
        cursor: pointer;

        &:hover {
          h3 {
            transform: scale(1.1) translate(1rem, 0);
          }

          i {
            transform: scale(1.15);
          }
        }
      }

      .question {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        padding: 2rem 0;
        width: 100%;

        h3 {
          font-size: 1.4rem;
          transition: 0.3s;
        }

        i {
          font-size: 1.3rem;
          transition: 0.3s;
        }
      }

      p {
        font-size: 1rem;
        font-weight: 300;
        padding-bottom: 2rem;

        &.hidden {
          display: none;
        }
      }

      @media screen and (min-width: 768px) {
        width: 90%;

        h3 {
          font-size: 1.6rem;
        }

        p {
          font-size: 1.1rem;
        }
      }

      @media screen and (min-width: 1024px) {
        width: 960px;
      }
    }

    .aucune-question {
      align-self: center;
      border: none;
      font-size: 1.4rem;
    }
  }
}
