/* ------ OSWALD ------ */

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/Oswald-Regular.woff2") format("woff2"),
    url("../fonts/oswald/Oswald-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/Oswald-Light.woff2") format("woff2"),
    url("../fonts/oswald/Oswald-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/Oswald-Medium.woff2") format("woff2"),
    url("../fonts/oswald/Oswald-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/Oswald-SemiBold.woff2") format("woff2"),
    url("../fonts/oswald/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/Oswald-Bold.woff2") format("woff2"),
    url("../fonts/oswald/Oswald-Bold.woff") format("woff");
  font-weight: 700;
}

/* ------ NUNITO ------ */

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito/Nunito-Light.woff2") format("woff2"),
    url("../fonts/nunito/Nunito-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito/Nunito-Regular.woff2") format("woff2"),
    url("../fonts/nunito/Nunito-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito/Nunito-Medium.woff2") format("woff2"),
    url("../fonts/nunito/Nunito-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/nunito/Nunito-SemiBold.woff2") format("woff2"),
    url("../fonts/nunito/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
}
