.histoire {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1024px;
  padding: 0 1rem;
  width: 100%;

  h2 {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
  }

  .images {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    img {
      border: 0.2rem solid $black;
      border-radius: 1rem;
      object-fit: cover;
      width: 100%;
    }
  }

  .texte-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    p {
      align-self: center;
      font-family: $nunito;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.5;
      max-width: 960px;
    }

    button {
      @include btn-pink;
    }
  }
}
