@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

@mixin btn-red {
  background-color: $red;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 0 0 $black;
  color: $beige-oskar;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  width: fit-content;
}

@mixin btn-blue {
  background-color: $blue;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 0 0 $black;
  color: $beige-oskar;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  width: fit-content;
}

@mixin btn-pink {
  background-color: $pink;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 0 0 $black;
  color: $black;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  width: fit-content;
}

@mixin btn-yellow {
  background-color: $yellow;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 0 0 $black;
  color: $beige-oskar;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  width: fit-content;
}

@mixin media-query($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 1025px) and (max-width: 1440px) {
      @content;
    }
  } @else if $breakpoint == "desktop-xl" {
    @media (min-width: 1441px) {
      @content;
    }
  }
}
