.main_nous-connaitre {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  .cards-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 1280px;
    padding: 0 4rem;
    width: 90%;

    .card {
      display: flex;

      section {
        padding: 4rem 0 0 3rem;
      }

      &._2 {
        flex-direction: row-reverse;

        section {
          padding: 4rem 3rem 0 0;
        }
      }

      h3 {
        font-size: 1.5rem;
      }

      figure {
        img {
          border: 1px solid $black;
          border-radius: 0.5rem;
          box-shadow: 6px 6px 0 0 $black;
          height: 340px;
          object-fit: cover;
          width: 340px;
        }
      }
    }

    section {
      display: flex;
      flex-direction: column;
    }

    p {
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.5;
      padding: 1rem 0;
    }
  }

  .discuter {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0 8rem 0;
    position: relative;

    h2 {
      font-size: 1.8rem;
    }

    button {
      @include button-reset;
      @include btn-blue;
    }

    .sticker {
      position: absolute;
      right: -16rem;
      top: -6rem;
      transform: rotate(20deg);
    }
  }
}
