.partenaires {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2.5rem;

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    list-style: none;
    max-width: 1280px;
    width: 100%;

    a {
      &:hover {
        img {
          transform: scale(0.9);
        }
      }

      img {
        transition: 0.3s;
        width: 100%;
      }
    }
  }
}
