@import "fonts";

/* ------ COULEURS ------ */
$black: #000;
$black-shadow: rgba(0, 0, 0, 0.3);
$white: #fff;
$white-opacity-30: rgba(255, 255, 255, 0.3);
$beige-oskar: #faf7e6;
$beige-fonce: #d2cfc1;
$red: #d74d37;
$blue: #3b82a7;
$blue-navy: #2f3e43;
$yellow: #ffde34;
$pink: #d4819d;
$light-pink: #fedfe9;
$fb-blue: #1877F2;
$insta-purple: linear-gradient(45deg, 
  #405DE6, /* Indigo Bleu */
  #5851DB, /* Violet */
  #833AB4, /* Purple */
  #C13584, /* Rose */
  #E1306C, /* Rouge */
  #FD1D1D  /* Orange */
);

/* ------ FONTS ------ */
$nunito: "Nunito", sans-serif;
$oswald: "Oswald", sans-serif;

/* ------ BREAKPOINTS ------ */
$xs-screen: 480px;
$s-screen: 640px;
$m-screen: 768px;
$l-screen: 1024px;
$xl-screen: 1280px;
